In [236]:
import pandas as pd
import numpy as np

In [237]:
data = pd.read_csv("online_retail.csv")

In [238]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [239]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

### Null values

In [240]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [241]:
# delete null customer id 
data1 = data.dropna(subset=["CustomerID"])

In [242]:
data1.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

### dupllicate values

In [243]:
# num of duplicates values
data1.duplicated().sum()

np.int64(5225)

In [244]:
# delete duplicate values
data1= data1.drop_duplicates()

In [245]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 401604 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    401604 non-null  object
 1   StockCode    401604 non-null  object
 2   Description  401604 non-null  object
 3   Quantity     401604 non-null  int64
 4   InvoiceDate  401604 non-null  object
 5   UnitPrice    401604 non-null  float64
 6   CustomerID   401604 non-null  float64
 7   Country      401604 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.6+ MB

In [246]:
data1.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

### saparate Returned products

In [247]:
# Returned products  
data_r = data1[data1["InvoiceNo"].astype(str).str.startswith('C')]

In [248]:
data_r.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8872 entries, 141 to 541717
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    8872 non-null   object
 1   StockCode    8872 non-null   object
 2   Description  8872 non-null   object
 3   Quantity     8872 non-null   int64
 4   InvoiceDate  8872 non-null   object
 5   UnitPrice    8872 non-null   float64
 6   CustomerID   8872 non-null   float64
 7   Country      8872 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 623.8+ KB

In [249]:
# data without Returned products
data2 = data1[data1["InvoiceNo"].astype(str).str.startswith('C')==False]

In [250]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392732 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392732 non-null  object
 1   StockCode    392732 non-null  object
 2   Description  392732 non-null  object
 3   Quantity     392732 non-null  int64
 4   InvoiceDate  392732 non-null  object
 5   UnitPrice    392732 non-null  float64
 6   CustomerID   392732 non-null  float64
 7   Country      392732 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.0+ MB

In [251]:
data2.describe()

            Quantity      UnitPrice     CustomerID
count  392732.000000  392732.000000  392732.000000
mean       13.153718       3.125596   15287.734822
std       181.588420      22.240725    1713.567773
min         1.000000       0.000000   12346.000000
25%         2.000000       1.250000   13955.000000
50%         6.000000       1.950000   15150.000000
75%        12.000000       3.750000   16791.000000
max     80995.000000    8142.750000   18287.000000

In [252]:
# to show all record
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [253]:
data2.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [254]:
# create column revenue = Quantity * UnitPrice
data2["Revenue"]= data2["Quantity"] * data2["UnitPrice"]

C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\2403219103.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["Revenue"]= data2["Quantity"] * data2["UnitPrice"]

In [255]:
data2.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [256]:
# split time and date from InvoiceDate
data2[["Date","Time"]]=data2['InvoiceDate'].str.split(' ',expand=True)

C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\4117824077.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2[["Date","Time"]]=data2['InvoiceDate'].str.split(' ',expand=True)
C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\4117824077.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2[["Date","Time"]]=data2['InvoiceDate'].str.split(' ',expand=True)

In [257]:
data2.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue,Date,Time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,2010-12-01,08:26:00
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12-01,08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,2010-12-01,08:26:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12-01,08:26:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12-01,08:26:00

In [258]:
# delete the last ':00'
data2["Time"]=data2["Time"].str.rstrip(':00')

C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\1379275921.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["Time"]=data2["Time"].str.rstrip(':00')

In [259]:
data2.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue,Date,Time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,2010-12-01,08:26
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12-01,08:26
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,2010-12-01,08:26
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12-01,08:26
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12-01,08:26

In [260]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392732 entries, 0 to 541908
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392732 non-null  object
 1   StockCode    392732 non-null  object
 2   Description  392732 non-null  object
 3   Quantity     392732 non-null  int64
 4   InvoiceDate  392732 non-null  object
 5   UnitPrice    392732 non-null  float64
 6   CustomerID   392732 non-null  float64
 7   Country      392732 non-null  object
 8   Revenue      392732 non-null  float64
 9   Date         392732 non-null  object
 10  Time         392732 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 36.0+ MB

In [261]:
data2["InvoiceDate"] = data2["Date"]

C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\2154094632.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["InvoiceDate"] = data2["Date"]

In [262]:
data2.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue,Date,Time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom,15.30,2010-12-01,08:26
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850.0,United Kingdom,20.34,2010-12-01,08:26
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850.0,United Kingdom,22.00,2010-12-01,08:26
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850.0,United Kingdom,20.34,2010-12-01,08:26
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850.0,United Kingdom,20.34,2010-12-01,08:26

In [263]:
# drop column date
data2.drop(columns=["Date"],inplace =True)

C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\2775577496.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.drop(columns=["Date"],inplace =True)

In [264]:
data2.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue,Time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom,15.30,08:26
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850.0,United Kingdom,20.34,08:26
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850.0,United Kingdom,22.00,08:26
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850.0,United Kingdom,20.34,08:26
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850.0,United Kingdom,20.34,08:26

In [265]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392732 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392732 non-null  object
 1   StockCode    392732 non-null  object
 2   Description  392732 non-null  object
 3   Quantity     392732 non-null  int64
 4   InvoiceDate  392732 non-null  object
 5   UnitPrice    392732 non-null  float64
 6   CustomerID   392732 non-null  float64
 7   Country      392732 non-null  object
 8   Revenue      392732 non-null  float64
 9   Time         392732 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 33.0+ MB

In [266]:
data2.describe()

            Quantity      UnitPrice     CustomerID        Revenue
count  392732.000000  392732.000000  392732.000000  392732.000000
mean       13.153718       3.125596   15287.734822      22.629195
std       181.588420      22.240725    1713.567773     311.083465
min         1.000000       0.000000   12346.000000       0.000000
25%         2.000000       1.250000   13955.000000       4.950000
50%         6.000000       1.950000   15150.000000      12.390000
75%        12.000000       3.750000   16791.000000      19.800000
max     80995.000000    8142.750000   18287.000000  168469.600000

In [267]:
# chanage datatype to Date
data2['InvoiceDate'] = pd.to_datetime(data2['InvoiceDate']).dt.date

C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\83656190.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['InvoiceDate'] = pd.to_datetime(data2['InvoiceDate']).dt.date

In [268]:
# Year , month and day
data2['Year'] = pd.to_datetime(data2['InvoiceDate']).dt.year
data2['Month'] = pd.to_datetime(data2['InvoiceDate']).dt.month
data2['Month_Abbr'] = pd.to_datetime(data2['InvoiceDate']).dt.strftime('%b')
data2['Day'] = pd.to_datetime(data2['InvoiceDate']).dt.day

C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\2243938596.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['Year'] = pd.to_datetime(data2['InvoiceDate']).dt.year
C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\2243938596.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['Month'] = pd.to_datetime(data2['InvoiceDate']).dt.month
C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\2243938596.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['Month_Abbr'] = pd.to_datetime(data2['InvoiceDate']).dt.strftime('%b')
C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\2243938596.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['Day'] = pd.to_datetime(data2['InvoiceDate']).dt.day

In [269]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392732 entries, 0 to 541908
Data columns (total 14 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392732 non-null  object
 1   StockCode    392732 non-null  object
 2   Description  392732 non-null  object
 3   Quantity     392732 non-null  int64
 4   InvoiceDate  392732 non-null  object
 5   UnitPrice    392732 non-null  float64
 6   CustomerID   392732 non-null  float64
 7   Country      392732 non-null  object
 8   Revenue      392732 non-null  float64
 9   Time         392732 non-null  object
 10  Year         392732 non-null  int32
 11  Month        392732 non-null  int32
 12  Month_Abbr   392732 non-null  object
 13  Day          392732 non-null  int32
dtypes: float64(3), int32(3), int64(1), object(7)
memory usage: 40.5+ MB

### Outliers

In [270]:
# Q1
q1 = np.quantile(data2["Revenue"],0.25)

In [271]:
# Q2
q2 = np.quantile(data2["Revenue"],0.50)

In [272]:
# Q3
q3 = np.quantile(data2["Revenue"],0.75)

In [273]:
IQR = q3 - q1

In [274]:
IQR

np.float64(14.849999999999998)

In [275]:
min_out = q1 - 1.5*IQR

In [276]:
min_out

np.float64(-17.325)

In [277]:
max_out = q3 + 1.5*IQR

In [278]:
max_out

np.float64(42.074999999999996)

In [279]:
# Outliers Data 
outliers = data2[(data2['Revenue'] < min_out) | (data2['Revenue'] > max_out)]

In [280]:
outliers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31231 entries, 9 to 541893
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    31231 non-null  object
 1   StockCode    31231 non-null  object
 2   Description  31231 non-null  object
 3   Quantity     31231 non-null  int64
 4   InvoiceDate  31231 non-null  object
 5   UnitPrice    31231 non-null  float64
 6   CustomerID   31231 non-null  float64
 7   Country      31231 non-null  object
 8   Revenue      31231 non-null  float64
 9   Time         31231 non-null  object
 10  Year         31231 non-null  int32
 11  Month        31231 non-null  int32
 12  Month_Abbr   31231 non-null  object
 13  Day          31231 non-null  int32
dtypes: float64(3), int32(3), int64(1), object(7)
memory usage: 3.2+ MB

In [281]:
# data without outliers
data3 = data2[(data2['Revenue'] > lower_limit) & (data2['Revenue'] < upper_limit)]

In [282]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 361501 entries, 0 to 541908
Data columns (total 14 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    361501 non-null  object
 1   StockCode    361501 non-null  object
 2   Description  361501 non-null  object
 3   Quantity     361501 non-null  int64
 4   InvoiceDate  361501 non-null  object
 5   UnitPrice    361501 non-null  float64
 6   CustomerID   361501 non-null  float64
 7   Country      361501 non-null  object
 8   Revenue      361501 non-null  float64
 9   Time         361501 non-null  object
 10  Year         361501 non-null  int32
 11  Month        361501 non-null  int32
 12  Month_Abbr   361501 non-null  object
 13  Day          361501 non-null  int32
dtypes: float64(3), int32(3), int64(1), object(7)
memory usage: 37.2+ MB

In [283]:
data3.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue,Time,Year,Month,Month_Abbr,Day
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01,2.55,17850.0,United Kingdom,15.30,08:26,2010,12,Dec,1
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01,3.39,17850.0,United Kingdom,20.34,08:26,2010,12,Dec,1
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01,2.75,17850.0,United Kingdom,22.00,08:26,2010,12,Dec,1
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01,3.39,17850.0,United Kingdom,20.34,08:26,2010,12,Dec,1
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01,3.39,17850.0,United Kingdom,20.34,08:26,2010,12,Dec,1

In [284]:
outliers.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue,Time,Year,Month,Month_Abbr,Day
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01,1.69,13047.0,United Kingdom,54.08,08:34,2010,12,Dec,1
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01,3.75,12583.0,France,90.00,08:45,2010,12,Dec,1
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01,3.75,12583.0,France,90.00,08:45,2010,12,Dec,1
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01,3.75,12583.0,France,45.00,08:45,2010,12,Dec,1
33,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,18,2010-12-01,2.95,12583.0,France,53.10,08:45,2010,12,Dec,1

### Returned products

In [285]:
data_r.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom

In [286]:
data_r.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8872 entries, 141 to 541717
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    8872 non-null   object
 1   StockCode    8872 non-null   object
 2   Description  8872 non-null   object
 3   Quantity     8872 non-null   int64
 4   InvoiceDate  8872 non-null   object
 5   UnitPrice    8872 non-null   float64
 6   CustomerID   8872 non-null   float64
 7   Country      8872 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 623.8+ KB

In [287]:
# split Data and time frome InvoiceDate columns
data_r[["Date","Time"]]=data_r['InvoiceDate'].str.split(' ',expand=True)

C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\2811224047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_r[["Date","Time"]]=data_r['InvoiceDate'].str.split(' ',expand=True)
C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\2811224047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_r[["Date","Time"]]=data_r['InvoiceDate'].str.split(' ',expand=True)

In [288]:
data_r["Time"]=data_r["Time"].str.rstrip(':00')

C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\2476958494.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_r["Time"]=data_r["Time"].str.rstrip(':00')

In [289]:
data_r["InvoiceDate"] = data_r["Date"]

C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\3943195961.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_r["InvoiceDate"] = data_r["Date"]

In [290]:
data_r.drop(columns=["Date"],inplace =True)

C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\3093179324.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_r.drop(columns=["Date"],inplace =True)

In [291]:
data_r.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Time
141,C536379,D,Discount,-1,2010-12-01,27.50,14527.0,United Kingdom,09:41
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01,4.65,15311.0,United Kingdom,09:49
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01,1.65,17548.0,United Kingdom,10:24
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01,0.29,17548.0,United Kingdom,10:24
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01,0.29,17548.0,United Kingdom,10:24

In [292]:
data_r['Quantity'].unique()

array([    -1,    -12,    -24,     -6,     -2,     -4,     -5,     -7,
           -3,  -9360,    -36,   -192,   -144,    -48,    -50,     -8,
          -20,    -10,    -72,    -11,    -25,    -14,    -33,     -9,
          -47,    -18,    -96,    -15,    -30,    -60,    -16,   -240,
          -32,    -80,   -300,   -500,    -23,    -13,    -21,   -150,
          -17,    -40,   -100, -74215,   -120,   -600,    -42,    -94,
          -76,   -200,   -720,    -86,    -35,   -102,    -49,    -46,
          -64,   -624,    -27,   -432,    -58,   -670,  -1300,  -1930,
        -2000,  -3114,    -51,   -960,  -1350,    -52,    -22,  -1515,
         -420,    -19,   -480,   -164,   -160,   -576,   -108,   -250,
         -408,    -37,   -360,    -28,    -75,   -121,   -288,    -39,
         -828,   -701,   -140,   -400,   -252,   -110,   -334,   -318,
         -126,   -113,   -180,    -38,   -756,   -152,    -85,    -34,
         -312,    -79,    -43,    -31,   -186,    -53,    -82,    -70,
          -68,  -1200,   -130,   -220,    -26,    -29,   -840,  -1296,
         -468,   -324,   -168,    -66,   -112,    -45,   -162,    -67,
         -276,   -184,   -244,   -234,   -132, -80995])

In [293]:
# Revenue columns
data_r['Revenue'] = data_r['Quantity'] * data_r['UnitPrice']

C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\3747716191.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_r['Revenue'] = data_r['Quantity'] * data_r['UnitPrice']

In [294]:
#  Abs Revenue columns 
data_r['ReturnAmount'] = data_r['Revenue'].abs()

C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\1537459574.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_r['ReturnAmount'] = data_r['Revenue'].abs()

In [295]:
data_r.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Time,Revenue,ReturnAmount
141,C536379,D,Discount,-1,2010-12-01,27.50,14527.0,United Kingdom,09:41,-27.50,27.50
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01,4.65,15311.0,United Kingdom,09:49,-4.65,4.65
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01,1.65,17548.0,United Kingdom,10:24,-19.80,19.80
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01,0.29,17548.0,United Kingdom,10:24,-6.96,6.96
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01,0.29,17548.0,United Kingdom,10:24,-6.96,6.96

In [296]:
data_r.duplicated().sum()

np.int64(0)

In [297]:
ret_p =data_r

In [298]:
ret_p.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Time,Revenue,ReturnAmount
141,C536379,D,Discount,-1,2010-12-01,27.50,14527.0,United Kingdom,09:41,-27.50,27.50
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01,4.65,15311.0,United Kingdom,09:49,-4.65,4.65
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01,1.65,17548.0,United Kingdom,10:24,-19.80,19.80
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01,0.29,17548.0,United Kingdom,10:24,-6.96,6.96
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01,0.29,17548.0,United Kingdom,10:24,-6.96,6.96

In [299]:
ret_p['InvoiceDate'] = pd.to_datetime(ret_p['InvoiceDate']).dt.date

C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\1181604678.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ret_p['InvoiceDate'] = pd.to_datetime(ret_p['InvoiceDate']).dt.date

In [300]:
# Year , month and day
ret_p['Year'] = pd.to_datetime(ret_p['InvoiceDate']).dt.year
ret_p['Month'] = pd.to_datetime(ret_p['InvoiceDate']).dt.month
ret_p['Month_Abbr'] = pd.to_datetime(ret_p['InvoiceDate']).dt.strftime('%b')
ret_p['Day'] = pd.to_datetime(ret_p['InvoiceDate']).dt.day

C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\1719918561.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ret_p['Year'] = pd.to_datetime(ret_p['InvoiceDate']).dt.year
C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\1719918561.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ret_p['Month'] = pd.to_datetime(ret_p['InvoiceDate']).dt.month
C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\1719918561.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ret_p['Month_Abbr'] = pd.to_datetime(ret_p['InvoiceDate']).dt.strftime('%b')
C:\Users\Mahmoud\AppData\Local\Temp\ipykernel_10804\1719918561.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ret_p['Day'] = pd.to_datetime(ret_p['InvoiceDate']).dt.day

In [301]:
ret_p.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Time,Revenue,ReturnAmount,Year,Month,Month_Abbr,Day
141,C536379,D,Discount,-1,2010-12-01,27.50,14527.0,United Kingdom,09:41,-27.50,27.50,2010,12,Dec,1
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01,4.65,15311.0,United Kingdom,09:49,-4.65,4.65,2010,12,Dec,1
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01,1.65,17548.0,United Kingdom,10:24,-19.80,19.80,2010,12,Dec,1
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01,0.29,17548.0,United Kingdom,10:24,-6.96,6.96,2010,12,Dec,1
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01,0.29,17548.0,United Kingdom,10:24,-6.96,6.96,2010,12,Dec,1

In [302]:
# Export data to Excel 
with pd.ExcelWriter('clean_data.xlsx', mode='w') as writer: 
    data3.to_excel(writer, sheet_name='Clean Data', index=False)
    ret_p.to_excel(writer, sheet_name='Returns', index=False)
    outliers.to_excel(writer, sheet_name='Outliers', index=False)